@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url(../../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf);
  font-family: MaterialIcons;
}

body {
  width: 300px;
  height: 400px;
}